body
{
	background:url('img/bg.png');
	margin:0px;
	padding:0px;
}
body,td,input
{
	font-family:'helvetica neue',helvetica,arial,sans-serif;
	font-size:13px;
	outline:0;
}

header,section,footer,aside,nav,article,figure
{
	display:block;  
}

table
{
	border-spacing:0px;
}
td
{
	border:0px;
	padding:0px;
}

.left
{
	float:left;
}
.right
{
	float:right;
}
.clear
{
	clear:both;
}

#header
{
	background:rgba(128,128,128,0.5);
	border-bottom:1px solid rgba(128,128,128,0.33);
	height:64px;
	position:relative;
	z-index:2;
}

#toolbar
{
	float:right;
}

.toolbar_btn
{
	float:right;
	margin:8px 8px 8px 0px;
	height:48px;
}

.toolbar_btn .button
{
	float:left;
	padding:8px;
	width:32px;
	height:32px;
	background:rgba(128,128,128,0.33);
}
.toolbar_btn .content
{
	float:left;
	padding:8px;
	height:32px;
	overflow:hidden;
	background:#fff;
	font-size:11px;
}
.toolbar_btn .content input
{
	font-size:11px;
	border:1px solid #aaa;
	color:#333;
}
.toolbar_btn .go
{
	padding:6px 0px 0px 6px;
	cursor:pointer;
}
.toolbar_btn .go img
{
	width:18px;
	height:18px;
}

#toolbar_add_url
{
	width:144px;
	margin-bottom:2px;
}
#toolbar_add_width, #toolbar_add_height
{
	width:32px;
}

#area,#msgwrap1
{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	text-align:center;
}

#area
{
	padding-top:128px;
}

.img
{
	position:relative;
	background:#fff;
	padding:8px;
	text-align:left;
	-moz-box-shadow:0px 0px 3px rgb(160,160,160);
	/*-moz-transform:rotate(-1deg);*/
}

.img.drag .imgimg
{
	cursor:move;
}

.img .info
{
	margin-top:6px;
	height:16px;
}
.img .info .name
{
	float:left;
}
.img .info .btns
{
	float:right;
}

.img .rothandles div
{
	position:absolute;
	background:#ddd;
	width:24px;
	height:24px;
	opacity:0.001;
}

.img .rothandles .tl
{
	cursor:url('img/cur/tl.png'), sw-resize;
}
.img .rothandles .tr
{
	cursor:url('img/cur/tr.png'), se-resize;
}
.img .rothandles .bl
{
	cursor:url('img/cur/bl.png'), nw-resize;
}
.img .rothandles .br
{
	cursor:url('img/cur/br.png'), ne-resize;
}

#msgwrap2
{
	padding-top:64px;
}
#msgwrap2 div
{
	width:640px;
	margin:0px auto;
	padding:32px;
}

#message
{
	margin-top:16px;
	height:80%;
}
.error
{
	background:#fdd;
	border:2px solid #b99;
}